@import url('https://fonts.googleapis.com/css?family=Lobster');

*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    font-family: Arial;
    font-size: 16px;
    text-align: center;
}

header {
    margin: 0;
    font-size: 2em;
    letter-spacing: .15em;
    font-family: 'Lobster';
}

header h1 {
    margin: 10px auto;
}

.times h1 {
    font-size: 5em;
    letter-spacing: .3em;
}

.times h3 {
    font-size: 2em;
    letter-spacing: .15em;
}