@import url('https://fonts.googleapis.com/css?family=Lobster');

*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    margin: 25px auto;
    font-family: Arial;
    font-size: 16px;
    text-align: center;
}

header {
    color: #df3232 ;
    margin: 0;
    font-size: 2em;
    letter-spacing: .15em;
    font-family: 'Lobster';
}

header h1 {
    margin: 10px auto;
}

header h5 {
    margin: 2px auto;
    color: #000;
    letter-spacing: 1em;
    text-transform: uppercase;
    font-family: Arial;
}

.times h1 {
    font-size: 5em;
    letter-spacing: .3em;
}

.times h3 {
    font-size: 2em;
    letter-spacing: .15em;
}

.arrows:hover {
    color: #df3232 ;
}

.arrows:hover {
    cursor: pointer;
}

button {
    margin: 0 3px;
    padding: 3px 14px;
    font-size: .85em;
    background-color: #fff;
    outline: none;
    border: 1px solid #000;
    transition: all .15s;
}

button:hover {
    border: 1px solid #df3232;
    background-color: #df3232;
    color: #fff;
}

.hide {
    display: none;
}